@inherits LayoutComponentBase

<PageTitle>Bitobrian.Blazor.Server.Tailwind.Template</PageTitle>
@*<div class="relative min-h-screen md:flex">*@

<div class="flex flex-wrap bg-gray-100">
    <NavMenu/>
    <main>
        <article class="p-4 h-screen">
            @Body
        </article>
    </main>
</div>



